*{
	margin:0;
	overflow: hidden;
}


header{
	width:100%;
	height:150px;
	background: black;
}

body{
    height:100vh;
}


nav > div{
	border:1px solid black;
}



article > div{
	border:1px solid black;
}


footer{
	width:100%;
	height:150px;
	background: black;
	position:fixed;
	bottom:0;
}

.night{
	position:absolute;
    background:black;
	opacity:0;
	width:100vw;
	height:100vh
}

.facebook{
	position:absolute;
	width:300px;
	height:300px;
	right:-250px;
	background-color: aqua;
}

.facebookContent{
	margin-left:50px;
	display: block;
}


.facebookTitle{
	position: absolute;
	height:300px;
	width:50px;
	background-color: white;

}

.facebook:hover{
	right:0;
	animation-name: asideHover;
	animation-duration: 2s;

	animation-fill-mode: forwards;
}

@keyframes asideHover{
	0%{
	    right:-250px;
	}
	100%{
		right:0;
	}
}


@media (max-width:500px){
	
	nav{
		background:red;
	    display: grid;
		height: 100px;
	    grid-template-rows: 1fr 1fr 1fr;
	}
	
	article{
		display:grid;
		grid-template-rows: repeat(2, 1fr);
		padding:10px
	}

}

@media (min-width:500px){
	
	nav{
		width:100%;
		height:50px;
		background:red;
		display:grid;
		grid-template-columns: repeat(3, 1fr);
	}

	
	article{
		display:grid;
		grid-template-columns: 75% 25%;
		padding:10px
	}

}